/******************************************************************
Theme Name: gruene-urbach
Theme URI: https://src.schiessle.org/Gruene/gruene-urbach.de
Template: urwahl3000
Version: 1.0.1
Author: Bjoern Schiessle
Author URI: https://www.schiessle.org
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
/******************************************************************

/** overwrite existing style */

h1.page-title {display: none;}

#teaser.kacheln h1 {
    box-sizing: border-box;
    padding: 0 1em !important;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    background:rgba(10,50,30,0.6);
}

.single a.postimg {
    margin: 0 !important;
}

article ul li, .archive-title ul li {list-style-type: none;counter-increment: list;position: relative;margin: 0 0 0.5em 0;}

.responsive-tabs__list__item {background: transparent;padding: 0.7em 1em; color: #0a321e !important;}

#content {padding: 0px 10px;  }
#main  {background: #fff;box-shadow: 5px 5px 10px rgba(0,0,0,0.2); width: 100%;}

#main form input[type="submit"]:hover {
color: #fff !important;
background: #7abc52 !important;
}

#main form input[type="submit"] {
height: 50px !important;
margin: 0 !important;
padding: 0 20px !important;
text-align: center !important;
border: 0 !important;
font-size: 16px !important;
color: #004e34 !important;
text-transform: uppercase !important;
box-sizing: content-box !important;
-moz-box-sizing: content-box !important;
-webkit-box-sizing: content-box !important;
background: #b3e25e !important;
cursor: pointer !important;
border-radius: 5px !important;
letter-spacing: 0.2px !important;
transition: all 0.3s ease !important;
box-shadow: none !important;
text-shadow: none !important;
}

hr {
    background: #b5df67 !important;
    margin: 2.5em auto !important;
}

.center {
text-align: center;
}

@media (max-width: 600px) {
    h1, h2, h3, h4 {
        word-wrap: break-word;
    }
}

/** hide sidebar widgets */
.sidebar {
    display: none;
}

/** site title */
.page h1 {
    margin-bottom: 0.7em;
}

/** move "Anmelden" link in the footer to the right */
/*
ul#menu-footer > :first-child {
    float: right;
}
*/
/** "Wir" page */

#seite-wir-bilder {
    text-align: center;
}

#seite-wir-bilder ul li::before {
    content: "";
}

#seite-wir-bilder .profile {
    display: inline-block;
    width: auto;
    max-width: 220px;
    height: 280px;
    margin: 30px 50px;
    vertical-align: top;
}


#seite-wir-bilder .profile img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

#seite-wir-bilder .profile h2 {
    text-align: center;
    font-size: 1.2em;
    width: 100%;
    border-radius: 50%;
}

/** Create a list of candidates, example: https://gruene-urbach.de/2019/03/kommunalwahl/ */

#kandidatinnen-bilder {
    text-align: center;
}

#kandidatinnen-bilder ul li::before {
    content: "";
}

#kandidatinnen-bilder .profile {
    display: inline-block;
    width: auto;
    max-width: 220px;
    height: auto;
    margin: 30px;
    vertical-align: top;
}


#kandidatinnen-bilder .profile img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 220px;
}

#kandidatinnen-bilder .profile h2 {
    text-align: center;
    font-size: 1.2em;
    width: 100%;
    border-radius: 50%;
}

#kandidatinnen-bilder .beschreibung {
    text-align: justify;
}

/** "Fraktion" page */

#fraktion ul {
    padding-top: 30px;
}

#fraktion ul li::before{
    content: '';
}

#fraktion #kandidatinnen-bilder .profile {
    max-width: 280px;
    height: auto;
    margin: 30px 10%;
}


/** default featured image plugin */

.default-featured-img {
    width: 100%;
    height: auto;
}

.footer-menu {
    float: left;
}

#social {
    text-align: center;
    padding: 30px 0;
    font-size: 20px;
    float: right;
}

#social a {
    padding: 10px;
}

#social .fa {
    color: #fff;
}

#social .fa:hover {
    color: #afdca7;
}

/** "Kontakt" page */

#site-contact {
    max-width: 500px;
}

#site-contact form input[type="submit"] {
    float: right;
}

/** move copyright style out of a specific screen size */
article .maybeImgCopyright .imgCopyright { font-size: 0.6em; line-height: 125%; text-align: center !important; color: #8d9e96; }
article .maybeImgCopyright .imgCopyright a { color: #8d9e96; }

#content a:hover {
    color: #0a321e;
}

